<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>style_serif</key>
	<string>body {font-family: &apos;Roboto Slab&apos;, serif;}
h1 {font-family: &apos;Merriweather&apos;, serif; }
h2 {font-family: &apos;Merriweather&apos;, serif; }
</string>
	<key>style_sansserif</key>
	<string>body {font-family: &apos;Oxygen&apos;, sans-serif;}
h2 {font-family: &apos;Oswald&apos;, sans-serif;}
h1 {font-family: &apos;Oswald&apos;, sans-serif;}</string>
	<key>theme_light</key>
	<string>body { color: rgb(47,48,49); background-color: rgb(255,255,255); }
h1 { color: rgb(47,48,49); }
h2 { color: rgb(47,48,49); }</string>
	<key>theme_dark</key>
	<string>body { color: rgb(153,153,154); background-color: rgb(47,48,49);}
h1 { color: rgb(255,255,255); }
h2 { color: rgb(255,255,255); }</string>
	<key>theme_sunset</key>
	<string>body { color: rgb(0,33,41); background-color: rgb(253,246,219); }
h1 { color: rgb(0,33,41); }
h2 { color: rgb(0,33,41); }</string>
	<key>theme_midnight</key>
	<string>body { background-color: rgb(0,33,41); color: rgb(253,246,219);}
h1 { color: rgb(253,246,219); }
h2 { color: rgb(253,246,219); }</string>
	<key>font_size0</key>
	<string>body { font-size: 13px; line-height:18px }
h1 {font-size: 21px; line-height:26px; }
h2 {font-size: 17px; line-height:22px; }</string>
	<key>font_size1</key>
	<string>body { font-size: 15px; line-height:20px }
h1 {font-size: 23px; line-height:28px; }
h2 {font-size: 19px; line-height:24px; }</string>
	<key>font_size2</key>
	<string>body { font-size: 17px; line-height:21px }
h1 {font-size: 25px; line-height:29px; }
h2 {font-size: 21px; line-height:25px; }</string>
	<key>font_size3</key>
	<string>body { font-size: 21px; line-height:26px }
h1 {font-size: 29px; line-height:34px; }
h2 {font-size: 25px; line-height:30px; }</string>
	<key>font_size4</key>
	<string>body { font-size: 25px; line-height:30px }
h1 {font-size: 33px; line-height:38px; }
h2 {font-size: 29px; line-height:34px; }</string>
	<key>font_size5</key>
	<string>body { font-size: 29px; line-height:34px }
h1 {font-size: 37px; line-height:42px; }
h2 {font-size: 33px; line-height:38px; }</string>
</dict>
</plist>
